:root {
  /* colors */
  --green500: rgb(5, 105, 27);

  /* fonts */
  --courier: 'Courier New', Courier, monospace;

  /* spacing */
  --spacing-unit: 24px;
  --spacing-unit-small: 12px;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border: 4px groove rgb(0, 255, 213);
}

html {background-image: radial-gradient(rgb(255, 123, 0), green, blue)
}

h1{
  position: relative;
  display: flex;
  flex: auto;
  font-size: 2.5rem;
  color: #ec0d0d;
}

h2 {
  background-color: rgb(255, 136, 0);
  color: rgb(30, 14, 243);
  left: 50%;
  padding: var(--spacing-unit-small);
  position: absolute;
  top: -27px;
  text-align: center;
  transform: translate(-50%);
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 25px;
  background-image: url(images/turtleshell.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

h3{
  color: rgb(255, 0, 43);
  padding: var(--spacing-unit-small);
  position: relative;
  top: -108%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

main {
  flex-grow: 1;
}

figure {
  border: 4px outset rgb(255, 238, 0);
  margin: 58px;
  padding: 36px;
  position: relative;
  background-image: url(images/InkedTurtleshellHBR.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

figure:hover {
  box-shadow:  0px 0px 36px red;
}

figcaption {
  color: aqua;
  text-align: center;
}

nav a{
  color: rgb(193, 235, 10);
}

a {
color: rgb(69, 15, 156);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  color: #d80b0b;
  font-size: 15px;
}


nav a:hover {
  background-color: rgb(133, 9, 133);
  color: #57d80c;
  box-shadow: 0px 0px 48px rgb(188, 238, 5);
}

main {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

footer {
  justify-content: space-between;
  word-wrap: break-word;
  font-size: 20px;
  width: 75%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  border: 4px groove rgb(0, 255, 213);
  color: rgb(16, 230, 98);
  margin-top: auto;
  align-self: center;
}

img {
  max-width: 128px;
  max-height: 128px;
}

.aboutme{
  color: aqua;
}

.Box{ display: flex;
flex-direction: column;
width: 100%;
}

.pic{
  display: flex;
}

.work-flow{
  border: 4px groove rgb(0, 255, 213);
  margin: var(--spacing-unit-small);
  padding: 5rem;
  position: relative;
  background-image: url(./images/InkedTurtleshellHBR.jpg);
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
 
}
.work-flow:hover{
  box-shadow: 0px 0px 48px #d80b0b;
}

.About-Me:hover{
 box-shadow: 0px 0px 48px #d80b0b;
  
}

.About-Me {
  border: 4px groove rgb(0, 255, 213);
  margin: var(--spacing-unit-small);
  padding: 5rem;
  position: relative;
 
}

.code-block {
  background: linear-gradient(180deg, rgb(255, 0, 13), rgb(105, 6, 105));
  border-radius: var(--spacing-unit-small);
  padding: var(--spacing-unit-small);
  color: #57d80c;
}

.figure-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.ta-c {
  text-align: center;
}
.footerlink{
  color: #57d80c;
}
.footerlink:hover{
  background-color: rgb(133, 9, 133);
  color: #57d80c;
  box-shadow: 0px 0px 48px rgb(188, 238, 5)
}

@media  screen and (max-width: 375px) {
  .puzzle{
   top: -40px;
  }
}

@media screen and (max-width: 768px){
  .header{
    display: flex; 
    flex-direction: column;
  }
}

@media screen and (max-width: 1280px) {
    h3{
    top: -108%;
  }
}


  
